#global-navigation {
    height: 164px;
    background: repeating-linear-gradient(45deg,
            #a2adf2,
            #a2adf2 10px,
            #808fee 10px,
            #808fee 20px);
    box-shadow: rgba(29, 33, 47, 0.1) 0px 12px 16px -4px, rgba(29, 33, 47, 0.05) 0px 4px 6px -2px;
}

#footer {
    background: repeating-linear-gradient(45deg,
            #a2adf2,
            #a2adf2 10px,
            #808fee 10px,
            #808fee 20px);
    padding: 24px;
    height: 20px;
    border-top: solid rgb(127, 127, 127) 1px;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
    overflow-y: scroll;
}
